<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Edge"  >
	<!--	<parameter name="browser" value="chrome"/> -->
					<classes>
			<class name="test.Execution.POC" >
				<methods>
					<include name = "Verify_Signup_Details_ByDefault_On_EO_Signup_Page"/> 
				 <!--	<include name = "Customer_information_Without_Enter_mobile_number"/>
			        <include name = "Organic_User_Pick_You_Appliance_Search_YES_Radio_Button_Functionality"/> 
					<include name = "Organic_User_Pick_You_Appliance_Search_NO_Radio_Button_Functionality"/>
					<include name = "Organic_User_Declaration_NO_Radio_Button_Functionality"/>
				    <include name = "Organic_User_Declaration_YES_Radio_Button_Functionality"/>
				   	<include name = "OrganicUserHomePage_Pick_You_Appliance_Validations"/>
					<include name = "Select_applience_validations"/>
					<include name = "Quote_Summary_validations"/>
					<include name = "Customer_Information_validations"/>
					<include name = "Bank_DetailsPage_Validations"/>
					<include name = "Confirm_Bank_DetailsPage_Validations"/>
					<include name = "Thank_You_SocialMedia_Page_Validations"/> -->
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->





	